.header {
    background-color: var(--branco);
    margin: 0 128px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .headerInner {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    height: 80px;
    margin: 0 auto;
}

.header .headerInner .logo {
    margin-right: 7rem;
    cursor: pointer;
}

.header .headerInner .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.header .headerInner .options .nav {
    margin-right: 4rem;
}

.header .headerInner .options .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .headerInner .options .nav ul li {
    display: inline-block;
}

.header .headerInner .options .nav ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #090129;
}

.header .headerInner .options .searchContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    max-width: 648px;
    margin-right: 2rem;
}

.header .headerInner .options .searchContainer button {
    background: none;
    border: none;
    margin-left: -35px;
    cursor: pointer;
    color: #090129;
}

.header .headerInner .options .searchContainer button i {
    font-size: 16px;
}

.header .headerInner .options .userActions {
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
}

.header .headerInner .options .userActions a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #090129;
    text-decoration: none;
    margin-left: 20px;
}

.header .headerInner .options .userActions a i {
    margin-right: 8px;
}
